{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/images/avatar.png" class="card-img" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <a href ="{% url 'teacher_detail' teacher.pk %}"> {{ object.user }} </a></h5>
        <p class="card-text">{{ object.cv  }}</p>
        {% for category in object.category.all %}
        <p class="card-text"><small class="text-muted">{{ category }}</small></p>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

<div style="max-width:500px;">
    {% if request.user.is_student %}


<form method="POST" action="" >
                {% csrf_token %}
                <h3>Write a New Comment</h3>
                <div>
                        {{ form|crispy }}
                        <button class="btn" type="submit" style="color:white; background-color:blue;">
                            Post Comment
                        </button>
                </div>
            </form>
    {% endif %}
</div>


    {% for comment in object.teacher_comments.all %}
    {% if comment.active %}
        <p>{{ comment }} </p>
    {% endif %}

    {% endfor %}

{% endblock %}
