{% extends 'index.html' %}


{% block content %}


{% for teacher in object_list %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
       {% if teacher.avatar %}
      <a href ="{% url 'teacher_detail' teacher.pk %}"><img src="{{ teacher.avatar.url }}" class="card-img" alt=""></a>
        {% else %}
      <a href ="{% url 'teacher_detail' teacher.pk %}"><img src="static/images/avatar.png" class="card-img" alt=""></a>
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <a href ="{% url 'teacher_detail' teacher.pk %}"> {{ teacher.user }} </a></h5>
        <p class="card-text">{{ teacher.cv }}</p>
        {% for category in teacher.category.all %}
        <p class="card-text"><small class="text-muted">{{ category }}</small></p>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}